.icon {
	display: inline-block;
	margin: 4px;
	height: 15px;
	width: 21px;
	background-color: #ccc;
}

/* ICONS */
.icon-broadcast{
	background: url('./images/icons/black/broadcast.png') center center  no-repeat; 
}

/* MARKERS */
.leaflet-marker-icon {
	padding: 2px;
	text-align: center;
}
.marker-am {
	background: url('./images/markers/png/dot-am.png') center center no-repeat;
}
.marker-fm {
	background: url('./images/markers/png/dot-fm.png') center center no-repeat;
}
.marker-tv {
	background: url('./images/markers/png/dot-tv.png') center center no-repeat;
}
